.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: whitesmoke;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: black;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../image/star_PNG1597.png");
      border-radius: 50%;
      border: solid 3px #37b1cc;
      background-size: cover; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #37b1cc; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #37b1cc; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: black;
  color: whitesmoke;
  height: 100%;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }

h6 {
  padding: 0;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 200; }

a {
  color: whitesmoke;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #37b1cc; }

main {
  padding: 2rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #37b1cc;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 30vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'education1 education2 education3';
  grid-template-columns: repeat(3, 1fr); }

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: solid 3px #37b1cc;
  width: 250px;
  height: 250px; }

.bio {
  grid-area: bio; }

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200; }

#bio {
  font-size: 1.2rem; }

.education-1 {
  grid-area: education1; }

.education-2 {
  grid-area: education2; }

.education-3 {
  grid-area: education3; }

.education {
  background: #141414;
  padding: 1rem;
  border-bottom: #37b1cc 5px solid; }

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid;
    margin-bottom: 10px; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #37b1cc;
      transition: all 0.5s ease-out; }

.project {
  color: #37b1cc;
  padding: 8px; }

.project-bullets {
  font-family: 'Raleway', sans-serif;
  list-style-type: square; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #37b1cc;
      color: white; }
      .boxes div:hover span {
        color: whitesmoke; }

.btn, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 5px;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #37b1cc; }

.btn-dark {
  background: gray;
  color: whitesmoke; }

.btn-light {
  background: white;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #1a1a1a;
  height: 60px;
  color: #37b1cc; }

.footer {
  font-size: 6px; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1.2;
      margin-bottom: 1rem; }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/linus.jpeg");
      width: 150px;
      height: 150px;
      background-size: cover; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'education1' 'education2' 'education3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; }
  h1.lg-heading {
    font-size: 40px; } }
